#userSetPassword {
    margin: 12px;
    /*text-align: center;*/
}
#userSetPassword h1 {
    font-size: 40px;
    line-height: 130%;
    margin: 10px;
    text-align: center;
}
#userSetPassword h2 {
    font-size: 20px;
    margin: 0 10px 10px;
}
#userSetPassword .section {
    padding: 10px;
}
#userSetPassword #passworderror { display:none; }
#userSetPassword #passwordchanged { display:none; }

#userSetPassword .button {
    display: inline-block;
}
#userSetPassword p a {
    font-weight: bold;
}
#userSetPassword p a:hover,
#userSetPassword p a:focus {
    color: #444;
}
#userSetPassword .footnote {
    margin-top: 40px;
}
#userSetPassword #closeWizard {
    position: absolute;
    top: 0;
    right: 0;
    padding: 20px;
}
#userSetPassword .closeSetPassword {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
/* strenghtify */
#userSetPassword .msg.error {
    color: #fff;
    background-color: #d2322d;
    padding: 3px;
}
#userSetPassword .strengthify-wrapper {
    position: absolute;
    left: 30px;
    width: 131px;
    margin-top: -7px;
}
/* Show password */
#userSetPassword #personal-show, #personal-confirm-show {
    display: none;
}
#userSetPassword #personal-show:checked + label, #personal-confirm-show:checked + label {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    filter: alpha(opacity=80);
    opacity: .8;
}
#userSetPassword #personal-show + label, #personal-confirm-show + label {
    position: absolute !important;
    height: 14px;
    width: 24px;
    margin-top: 14px;
    margin-left: -36px;
    background-image: url("../../../core/img/actions/toggle.png");
    background-repeat: no-repeat;
    background-position: center;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
    filter: alpha(opacity=30);
    opacity: .3;
}
