#userSetPassword {
    margin: 12px;
    /*text-align: center;*/
}

#userSetPassword h1 {
    font-size: 40px;
    line-height: 130%;
    margin: 10px;
    text-align: center;
}

#userSetPassword h2 {
    font-size: 20px;
    margin: 0 10px 10px;
}

#userSetPassword .section {
    padding: 10px;
}

#userSetPassword #passworderror { display:none; }
#userSetPassword #passwordchanged { display:none; }

#userSetPassword .button {
    display: inline-block;
}

#userSetPassword p a {
    font-weight: bold;
}
#userSetPassword p a:hover,
#userSetPassword p a:focus {
    color: #444;
}
#userSetPassword .footnote {
    margin-top: 40px;
}

#userSetPassword #closeWizard {
    position: absolute;
    top: 0;
    right: 0;
    padding: 20px;
}
